main {
  height: 100vh;
  width: 100%;
  background-image: url(../deltapredio.jpg);
  background-size: cover; }
  main .titulo {
    color: goldenrod;
    margin-bottom: 20px;
    font-size: 150%;
    text-align: center; }
  main .description {
    color: white;
    width: 60%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: right;
    background-color: rgba(0, 0, 0, 0.336);
    border: 5px solid goldenrod;
    margin: 40px;
    padding: 20px;
    text-align: justify;
    margin-right: 20%;
    margin-top: 360px; }

.cards-description {
  font-family: Verdana, Geneva, Tahoma, sans-serif; }
  .cards-description h5 {
    color: goldenrod; }
  .cards-description p {
    color: black; }

div .formulario {
  width: 400px;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  border-radius: 4px; }
  div .formulario .titulo {
    color: goldenrod;
    margin-bottom: 20px;
    font-size: 150%;
    text-align: center; }
  div .formulario .controles {
    width: 300px;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid white; }
  div .formulario .mas-info {
    font-weight: 700; }
  div .formulario .opc {
    margin-bottom: 0px; }
  div .formulario .comentario {
    margin-top: 20px;
    font-weight: 700; }

footer {
  background-color: goldenrod;
  color: black;
  text-align: center;
  font-size: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: capitalize;
  padding: 20px;
  margin-top: 30%; }
  footer i {
    font-size: 22px;
    letter-spacing: 10px; }
  footer h1 {
    color: goldenrod;
    text-transform: uppercase; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
