footer{
    background-color: $color1;
    color: black;
    text-align: center;
    font-size: 10px;
    font-family: $font1;
    text-transform: capitalize;
    padding: 20px;
    margin-top: 30%;

i {
    font-size: 22px;
    letter-spacing: 10px; }
  
  h1 {
    color: $color1;
    text-transform: uppercase;
  }

}