main {
    height: 100vh;
    width: 100%;
    background-image: url(../deltapredio.jpg);
    background-size: cover; 

    .titulo{
        color: goldenrod;
        margin-bottom: 20px;
        font-size: 150%;
        text-align: center;
    }

    .description {
        color: $colorparrafo;
        width: 60%;
        font-family: $font1;
        float: right;
        background-color: rgba(0, 0, 0, 0.336);
        border: 5px solid $color1;
        margin: 40px;
        padding: 20px;
        text-align: justify;
        margin-right: 20%;
        margin-top: 360px; 
    }
}
  
 