main {
    height: 100vh;
    width: 100%;
    background-image: url(../deltapredio.jpg);
    background-size: cover; 
}
  
 .description {
    color: $colorparrafo;
    width: 60%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: right;
    background-color: rgba(0, 0, 0, 0.336);
    border: 5px solid goldenrod;
    margin: 40px;
    padding: 20px;
    text-align: justify;
    margin-right: 20%;
    margin-top: 360px; } 