@import "colores";
@import "font";
@import "navbar";
@import "main";
@import "footer";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.titulo{
    color: goldenrod;
    margin-bottom: 20px;
    font-size: 150%;
    text-align: center;
}

